- id: '1510232557892'
  alias: 'Master AC Cancel Timer '
  trigger:
  - entity_id: switch.masterac
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - alias: Cancel Master Aircon Timer
    data:
      entity_id: climate.master_aircon
      operation_mode: 'off'
    service: climate.set_operation_mode
- id: '1510232642358'
  alias: Study AC Cancel Timer
  trigger:
  - entity_id: switch.studyac
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      entity_id: climate.study_aircon
    service: climate.turn_off
- id: '1511046223334'
  alias: Grace Aircon Off at 9am
  trigger:
  - at: 09:30
    platform: time
  condition:
  - condition: state
    entity_id: switch.gracesac
    state: 'on'
  action:
  - alias: Switch off Grace's AC
    data:
      entity_id: switch.gracesac
    service: switch.turn_off
- id: '1521034095370'
  alias: Master AC Starts
  trigger:
  - entity_id: switch.masterac
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - alias: ''
    data:
      entity_id: climate.master_aircon
      operation_mode: cool
    service: climate.set_operation_mode
  - data:
      entity_id: climate.master_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:30:00
  - data:
      entity_id: climate.master_aircon
      fan_mode: low
    service: climate.set_fan_mode
  - data:
      entity_id: climate.master_aircon
      operation_mode: cool
      temperature: '24'
    service: climate.set_temperature
- id: '1538280732545'
  alias: 'Grace fan timer '
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'off'
  - condition: state
    entity_id: switch.gracesfan
    state: 'off'
  action:
  - alias: ''
    data:
      entity_id: switch.gracesfan
    service: switch.turn_on
  - delay: 02:00:00
  - data:
      entity_id: switch.gracesfan
    service: switch.turn_off
- id: '1538282154854'
  alias: Master fan timer
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
  condition:
  - condition: state
    entity_id: switch.masterac
    state: 'off'
  - condition: state
    entity_id: switch.masterfan
    state: 'off'
  action:
  - data:
      entity_id: switch.masterfan
    service: switch.turn_on
  - delay: 02:00:00
  - data:
      entity_id: switch.masterfan
    service: switch.turn_off
- id: '1538282253063'
  alias: 'Living fan timer '
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
  condition:
  - condition: state
    entity_id: switch.livingfan
    state: 'off'
  action:
  - data:
      entity_id: switch.livingfan
    service: switch.turn_on
  - delay: 02:00:00
  - data:
      entity_id: switch.livingfan
    service: switch.turn_off
- id: '1538282441058'
  alias: Grace night light
  trigger:
  - at: 00:00:00
    platform: time
  - at: 01:00:00
    platform: time
  - at: 02:00:00
    platform: time
  - at: 03:00:00
    platform: time
  condition: []
  action:
  - data:
      entity_id: script.xuanroom_task
    service: script.turn_on
- id: '1538397014363'
  alias: Master AC Timer
  trigger:
  - at: '23:00:00'
    platform: time
  - at: 00:01:00
    platform: time
  - at: 04:01:00
    platform: time
  condition:
  - condition: state
    entity_id: switch.masterac
    state: 'on'
  action:
  - data:
      entity_id: script.masteraircon_task
    service: script.turn_on
- id: '1538397577374'
  alias: Grace AC Starts
  trigger:
  - entity_id: switch.gracesac
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      entity_id: climate.graces_aircon
      operation_mode: cool
    service: climate.set_operation_mode
  - data:
      entity_id: climate.graces_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:10:00
  - data:
      entity_id: climate.graces_aircon
      operation_mode: dry
      temperature: '25'
    service: climate.set_temperature
  - data:
      entity_id: climate.graces_aircon
      fan_mode: mid
    service: climate.set_fan_mode
- id: '1538398546507'
  alias: Grace AC Timer
  trigger:
  - at: '23:00:00'
    platform: time
  - at: 00:01:00
    platform: time
  condition:
  - condition: state
    entity_id: switch.gracesac
    state: 'on'
  action:
  - data:
      entity_id: script.graceaircon_task
    service: script.turn_on
- id: '1538398672229'
  alias: Grace AC Cancel Timer
  trigger:
  - entity_id: switch.gracesac
    from: 'on'
    platform: state
    to: 'off'
  condition: []
  action:
  - data:
      entity_id: automation.grace_ac_timer
    service: automation.turn_off
  - data:
      entity_id: climate.graces_aircon
    service: climate.turn_off
- id: '1538838709220'
  alias: leesh - arrives
  trigger:
  - above: '10'
    entity_id: sensor.sh_home
    platform: numeric_state
  condition:
  - after: sunset
    condition: sun
  - below: '40'
    condition: numeric_state
    entity_id: sensor.someones_home
  action:
  - data:
      entity_id: switch.gracesvirtual
    service: switch.turn_on
- id: '1538840114955'
  alias: Grace - arrives
  trigger:
  - above: '10'
    entity_id: sensor.grace_home
    platform: numeric_state
  condition:
  - after: sunset
    condition: sun
  action:
  - data:
      entity_id: switch.graceslight
    service: switch.turn_on
- id: '1539483761405'
  alias: Study Fan Timer
  trigger:
  - at: '11:00'
    platform: time
  - at: '14:00'
    platform: time
  - at: '17:00'
    platform: time
  condition:
  - condition: state
    entity_id: switch.studyfan
    state: 'off'
  action:
  - data:
      entity_id: switch.studyfan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.studyfan
    service: switch.turn_off
- id: '1540819331525'
  alias: NoOnesHome
  trigger:
  - below: '5'
    entity_id: sensor.someones_home
    for: 00:10
    platform: numeric_state
  condition:
  - condition: state
    entity_id: automation.holiday
    state: 'off'
  action:
  - data:
      entity_id: switch.masterac
    service: switch.turn_off
  - data:
      entity_id: switch.gracesac
    service: switch.turn_off
  - data:
      entity_id: switch.studyac
    service: switch.turn_off
- id: '1549067834199'
  alias: holiday
  trigger:
  - at: '19:00'
    platform: time
  - at: 01:00
    platform: time
  condition: []
  action:
  - data:
      entity_id: switch.livingac
    service: switch.turn_on
  - data:
      entity_id: switch.livingfan
    service: switch.turn_on
  - data:
      entity_id: switch.gracesac
    service: switch.turn_on
  - data:
      entity_id: switch.gracesfan
    service: switch.turn_on
  - data:
      entity_id: switch.masterac
    service: switch.turn_on
  - data:
      entity_id: switch.masterfan
    service: switch.turn_on
  - data:
      entity_id: switch.studyac
    service: switch.turn_on
  - data:
      entity_id: switch.studyfan
    service: switch.turn_on
  - delay: 00:30
  - data:
      entity_id: switch.masterac
    service: switch.turn_off
  - data:
      entity_id: switch.masterfan
    service: switch.turn_off
  - data:
      entity_id: switch.studyac
    service: switch.turn_off
  - data:
      entity_id: switch.studyfan
    service: switch.turn_off
  - data:
      entity_id: switch.livingac
    service: switch.turn_off
  - data:
      entity_id: switch.livingfan
    service: switch.turn_off
  - data:
      entity_id: switch.gracesac
    service: switch.turn_off
  - data:
      entity_id: switch.gracesfan
    service: switch.turn_off
- id: '1557628312169'
  alias: Study AC Starts
  trigger:
  - entity_id: switch.studyac
    from: 'off'
    platform: state
    to: 'on'
  condition: []
  action:
  - data:
      entity_id: climate.study_aircon
      operation_mode: cool
    service: climate.set_operation_mode
  - alias: ''
    data:
      entity_id: climate.study_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:10:00
  - data:
      entity_id: climate.study_aircon
      operation_mode: dry
      temperature: '23'
    service: climate.set_temperature
  - data:
      entity_id: climate.study_aircon
      fan_mode: low
    service: climate.set_fan_mode
  - data:
      entity_id: climate.study_aircon
      operation_mode: dry
    service: climate.set_operation_mode
- id: '1564063322656'
  alias: Main Door Opens
  trigger:
  - entity_id: binary_sensor.main_door_contact
    from: 'off'
    platform: state
    to: 'on'
  condition:
  - below: '50'
    condition: numeric_state
    entity_id: sensor.someones_home
  - after: sunset
    condition: sun
  action:
  - data:
      payload: ''
      topic: monitor/scan/arrive
    service: mqtt.publish
  - data:
      entity_id: switch.fan
    service: switch.turn_on
  - data:
      entity_id: switch.livingpiano
    service: switch.turn_on
  - data:
      entity_id: switch.livingcove
    service: switch.turn_on
  - delay: 00:01:00
  - data:
      entity_id: switch.livingpiano
    service: switch.turn_off
