- action:
  - alias: Cancel Master Aircon Timer
    data:
      entity_id: automation.masteraircon_timer
    service: automation.turn_off
  alias: 'Master AC Cancel Timer '
  condition: []
  id: '1510232557892'
  trigger:
  - entity_id: switch.master_ac
    from: 'on'
    platform: state
    to: 'off'
- action:
  - alias: cancel study aircon timer
    data:
      entity_id: automation.studyaircon_timer
    service: automation.turn_off
  alias: Study AC Cancel Timer
  condition: []
  id: '1510232642358'
  trigger:
  - entity_id: switch.study_ac
    from: 'on'
    platform: state
    to: 'off'
- action:
  - alias: Switch off Grace's AC
    data:
      entity_id: switch.graces_ac
    service: switch.turn_off
  alias: Grace Aircon Off at 9am
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'on'
  id: '1511046223334'
  trigger:
  - at: 09:30
    platform: time
- action:
  - alias: ''
    data:
      entity_id: climate.master_aircon
      operation_mode: cool
      temperature: '16'
    service: climate.set_temperature
  - data:
      entity_id: climate.master_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:10:00
  - data:
      entity_id: climate.master_aircon
      fan_mode: mid
    service: climate.set_fan_mode
  - data:
      entity_id: automation.masteraircon_timer
    service: automation.turn_on
  alias: Master AC Starts
  condition: []
  id: '1521034095370'
  trigger:
  - entity_id: switch.master_ac
    from: 'off'
    platform: state
    to: 'on'
- action:
  - alias: ''
    data:
      entity_id: switch.graces_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.graces_fan
    service: switch.turn_off
  alias: 'Grace fan timer '
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'off'
  - condition: state
    entity_id: switch.graces_fan
    state: 'off'
  id: '1538280732545'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entity_id: switch.master_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.master_fan
    service: switch.turn_off
  alias: Master fan timer
  condition:
  - condition: state
    entity_id: switch.master_ac
    state: 'off'
  - condition: state
    entity_id: switch.master_fan
    state: 'off'
  id: '1538282154854'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entity_id: living_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.master_fan
    service: switch.turn_off
  alias: 'Living fan timer '
  condition:
  - condition: state
    entity_id: switch.master_fan
    state: 'off'
  id: '1538282253063'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entitiy_id: script.xuanroom_timer
    service: script.turn_on
  alias: Grace night light
  condition: []
  id: '1538282441058'
  trigger:
  - at: 00:00:00
    platform: time
  - at: 01:00:00
    platform: time
  - at: 02:00:00
    platform: time
- action:
  - data:
      entity_id: switch.living_cove
    service: switch.turn_on
  alias: leesh arrive home
  condition:
  - after: sunset
    condition: sun
  id: '1538295807113'
  trigger:
  - entity_id: device_tracker.galaxy_s7
    from: not_home
    platform: state
    to: home
  - entity_id: device_tracker.galaxy_tab_s2
    from: not_home
    platform: state
    to: home
- action:
  - data:
      entity_id: switch.living_piano
    service: switch.turn_on
  - delay: 00:01:00
  - data:
      entity_id: switch.graces_downlight
    service: switch.turn_on
  - data:
      entity_id: switch.living_piano
    service: switch.turn_off
  alias: Grace arrives home
  condition:
  - after: sunset
    condition: sun
  id: '1538296795910'
  trigger:
  - entity_id: device_tracker.iphone
    from: not_home
    platform: state
    to: home
- action:
  - data:
      entity_id: switch.master_window
    service: switch.turn_on
  - data:
      entity_id: switch.living_cove
    service: switch.turn_on
  alias: SB arrives home
  condition:
  - after: sunset
    condition: sun
  id: '1538297189435'
  trigger:
  - entity_id: device_tracker.galaxy_s9
    from: not_home
    platform: state
    to: home
- action:
  - data:
      entity_id: masteraircon_task
    service: script.turn_on
  alias: Master AC Timer
  condition:
  - condition: state
    entity_id: switch.master_ac
    state: 'on'
  id: '1538397014363'
  trigger:
  - at: '23:00:00'
    platform: time
  - at: 00:01:00
    platform: time
  - at: 04:01:00
    platform: time
- action:
  - data:
      entity_id: climate.grace_aircon
      operation_mode: cool
      temperature: '22'
    service: climate.set_temperature
  - data:
      entity_id: climate.grace_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:10:00
  - data:
      entity_id: climate.grace_aircon
      operation_mode: cool
      temperature: '25'
    service: climate.set_temperature
  - data:
      entity_id: climate.grace_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - data:
      entity_id: automation.grace_ac_timer
    service: automation.turn_on
  alias: Grace AC Starts
  condition: []
  id: '1538397577374'
  trigger:
  - entity_id: switch.graces_ac
    from: 'off'
    platform: state
    to: 'on'
- action:
  - data:
      entity_id: script.graceaircon_task
    service: script.turn_on
  alias: Grace AC Timer
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'on'
  id: '1538398546507'
  trigger:
  - at: '23:00:00'
    platform: time
  - at: 00:01:00
    platform: time
- action:
  - data:
      entity_id: automation.grace_ac_timer
    service: automation.turn_off
  alias: Grace AC Cancel Timer
  condition: []
  id: '1538398672229'
  trigger:
  - entity_id: switch.graces_ac
    from: 'on'
    platform: state
    to: 'off'
