- action:
  - alias: Cancel Master Aircon Timer
    data:
      entity_id: script.masteraircon_timer
    service: script.turn_off
  alias: Cancel Master Aircon Timer
  condition: []
  id: '1510232557892'
  trigger:
  - entity_id: switch.master_ac
    from: 'on'
    platform: state
    to: 'off'
- action:
  - alias: cancel study aircon timer
    data:
      entity_id: script.studyaircon_timer
    service: script.turn_off
  alias: Cancel Study Aircon Timer
  condition: []
  id: '1510232642358'
  trigger:
  - entity_id: switch.study_ac
    from: 'on'
    platform: state
    to: 'off'
- action:
  - alias: Switch off Grace's AC
    data:
      entity_id: switch.graces_ac
    service: switch.turn_off
  alias: Grace Aircon Off at 9am
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'on'
  id: '1511046223334'
  trigger:
  - at: 09:30
    platform: time
- action:
  - alias: ''
    data:
      entity_id: climate.master_aircon
      operation_mode: cool
      temperature: '16'
    service: climate.set_temperature
  - data:
      entity_id: climate.master_aircon
      fan_mode: high
    service: climate.set_fan_mode
  - delay: 00:10:00
  - data:
      entity_id: script.masteraircon_timer
    service: script.turn_on
  alias: Master AC Starts
  condition: []
  id: '1521034095370'
  trigger:
  - entity_id: switch.master_ac
    from: 'off'
    platform: state
    to: 'on'
- action:
  - alias: ''
    data:
      entity_id: switch.graces_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.graces_fan
    service: switch.turn_off
  alias: fan circulation - grace
  condition:
  - condition: state
    entity_id: switch.graces_ac
    state: 'off'
  - condition: state
    entity_id: switch.graces_fan
    state: 'off'
  id: '1538280732545'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entity_id: switch.master_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.master_fan
    service: switch.turn_off
  alias: fan circulation - master
  condition:
  - condition: state
    entity_id: switch.master_ac
    state: 'off'
  - condition: state
    entity_id: switch.master_fan
    state: 'off'
  id: '1538282154854'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entitiy_id: living_fan
    service: switch.turn_on
  - delay: 01:00:00
  - data:
      entity_id: switch.master_fan
    service: switch.turn_off
  alias: fan circulation - living
  condition:
  - condition: state
    entity_id: switch.master_fan
    state: 'off'
  id: '1538282253063'
  trigger:
  - at: '11:00:00'
    platform: time
  - at: '14:00:00'
    platform: time
  - at: '17:00:00'
    platform: time
- action:
  - data:
      entitiy_id: script.xuanroom_timer
    service: script.turn_on
  alias: Xuan night light
  condition: []
  id: '1538282441058'
  trigger:
  - at: 00:00:00
    platform: time
  - at: 01:00:00
    platform: time
  - at: 02:00:00
    platform: time
